/**
 * General Tags Styles.
 */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #eee;
  overflow-x: hidden; /* Hide horizontal overflow. */
}

a {
  text-decoration: none;
  color:inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Make images responsive to their containers */
img {
  width: 100%;
  height: auto;
}

/* Reset buttons styles */
button {
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/**
 * General class styles
 */
/* Flexbox styles */
.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--bottom-align {
  align-items: flex-end;
}

.flex--center-align {
  align-items: center;
}

.flex--space-around {
  justify-content: space-around;
}

/* Text styles */
.text--right {
  text-align: right !important;
}

.text--shadow {
  transition: text-shadow 0.25s ease-in;
}

.text--shadow:hover, .text--shadow:focus {
  text-shadow: 2px 2px 4px #aaa;
}

/* Button styles that can be applied to anchor links too */
.btn {
  display: inline-block;
  text-align: center;

  border: solid 0.05em transparent; /* Set border to transparent to animate on hover */
  border-radius: 3px;
  outline: none;

  padding: 0em 0.2em;
  color: #fff;
  background-color: #0282e3;

  transition: color 0.25s ease-in,
    background-color 0.25s ease-in,
    border-color 0.25s ease-in;
}

.btn:active {
  transform: translateY( 1px );
  filter: saturate( 150% );
}

.btn:hover, .btn:focus {
  color: #0282e3;
  border-color: #0282e3;
  background-color: #fff;
}

.btn--green {
  background-color: #14a65b;
}

.btn--green:hover, .btn--green:focus {
  color: #14a65b;
  border-color: #14a65b;
  background-color: #fff;
}

.btn--white {
  font-weight: 600;
  color: #01487f;
  background-color: #fff;
  border-color: #999;
}

.btn--white:hover, .btn--white:focus {
  color: #fff;
  background-color: #01487f;
}

/* Card container */
.card-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.9));
  max-width: 300px;
  padding: 0 2em 2em;
}

.card-container__heading {
  font-weight: bolder;
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 0em;
}

.card-container__paragraph {
  font-size: 1em;
}

.card-container__btn {
  width: 100%;
  padding: 1em 0;
}

/* State modifiers */
.is-hidden {
  display: none;
}