/**
 * General Tags Styles.
 */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #eee;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color:inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Make images responsive to their containers */
img {
  width: 100%;
  height: auto;
}

/* Reset buttons styles */
button {
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/**
 * General class styles
 */
.page-wrapper {
  max-width: 1450px;
  margin: 0 auto;
  background-color: #fff;
  overflow-x: hidden; /* Hide horizontal overflow. */
}

/* Flexbox styles */
.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--bottom-align {
  align-items: flex-end;
}

.flex--center-align {
  align-items: center;
}

.flex--space-around {
  justify-content: space-around;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

/* Text styles */
.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.text--center {
  text-align: center !important;
}

.text--shadow {
  transition: text-shadow 0.25s ease-in;
}

.text--shadow:hover, .text--shadow:focus {
  text-shadow: 2px 2px 4px #aaa;
}

/* Button styles that can be applied to anchor links too */
.btn {
  display: inline-block;
  text-align: center;

  border: solid 0.05em transparent; /* Set border to transparent to animate on hover */
  border-radius: 3px;
  outline: none;

  padding: 0em 0.2em;
  color: #fff;
  background-color: #017edb;

  transition: color 0.25s ease-in,
    background-color 0.25s ease-in,
    border-color 0.25s ease-in;
}

.btn:active {
  transform: translateY( 1px );
  filter: saturate( 150% );
}

.btn:hover, .btn:focus {
  color: #017edb;
  border-color: #017edb;
  background-color: #fff;
}

.btn--green {
  background-color: #14a65b;
  border-radius: 0;
}

.btn--green:hover, .btn--green:focus {
  color: #14a65b;
  border-color: #14a65b;
  background-color: #fff;
}

.btn--white {
  font-weight: 600;
  color: #3e4291;
  background-color: #fff;
  border-color: #e8e8e8;
  border-radius: 0;
}

.btn--white:hover, .btn--white:focus {
  color: #fff;
  background-color: #3e4291;
  border-color: #3e4291;
}

.btn--offers {
  margin: 2em 0;
  padding: 0.5em 1.5em;
}

/* Card container */
.card-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.9));
  max-width: 300px;
  padding: 2em;
}

.card-container__heading {
  font-weight: bolder;
  font-size: 2.2em;
  line-height: 1;
  margin: 0em;
}

.card-container__paragraph {
  font-size: 1em;
}

.card-container__btn {
  width: 100%;
  padding: 1em 0;
}

/* State modifiers */
.is-hidden {
  display: none;
}

/* Media screen styles */
@media only screen and (max-width: 740px) {
  .card-container {
    max-width: 100%;
    display: flex; /* Display as a flex to center button */
    flex-flow: column nowrap;
  }

  .card-container__btn {
    max-width: 70%;
    align-self: center;
  }
}
