/**
 * Vehicle details styles
 */
.vehicle-details {
  padding: 3em 9em;
  min-height: 70vh;
}

.vehicle-details__nav {
  width: 100%;
  margin-bottom: 2em;
}

.vehicle-details__nav__item {
  display: block;
  width: 25%;
}

.vehicle-details__nav__btn {
  font-weight: 550;
  padding: 0.5em 0;
  width: 100%;
  border-radius: 0;
  border-color: #99b2c9;
}

.vehicle-details__nav__btn.is-active, .vehicle-details__nav__btn:hover, .vehicle-details__nav__btn:focus {
  color: #fff;
  background-color: #003e78;
  border-color: #003e78;
}

/* Add radius to side buttons */
.vehicle-details__nav__item:first-child .vehicle-details__nav__btn{
  border-radius: 4px 0 0 4px;
}

.vehicle-details__nav__item:last-child .vehicle-details__nav__btn{
  border-radius: 0 4px 4px 0;
}

/* Vehicle details dimensions container styles */
.dimensions__image-container {
  padding-top: 1em;
}

/* Set the dimensions table and image to 50% each */
.dimensions__table, .dimensions__image-container {
  width: 50%;
}

.dimensions__table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-right: 2em;
}

.dimensions__table td, .dimensions__table th {
  padding: 1em;
}

.dimensions__table__heading, .dimensions__table__short, .dimensions__table__long {
  border: 2px solid #b0b2b4;
  width: 33.3333%;
}

.dimensions__table__heading {
  font-weight: 550;
  background-color: #e5e8e8;
  border-right-color: transparent;
}

.dimensions__table__short {
  border-left-color: transparent;
}

/* Vehicle details layout container styles */
.layout__paragraph {
  margin-top: 0; /* Remove top padding because of the image space */
}

.layout__image {
  /* Layout image must have normal size and max-width in order to be responsive */
  width: auto;
  max-width: 100%;
}

/* Vehicle details color container styles */
.color__image-container {
  max-width: 920px;
  margin: 0 auto; /* Center the container */
}

.color__color-picker {
  padding: 0.5em;
}

.color-picker__non-metallic, .color-picker__metallic {
  font-weight: 600;
  font-size: 0.9em;
  margin: 0 0.6em;
  position: relative;
}

/* Set description color to lightgrey if it is not active */
.color-picker__non-metallic:not(.is-active), .color-picker__metallic:not(.is-active) {
  color: #aaa;
}

/* Create a bottom border, add transition to make nice animation when changing color */
.color-picker__non-metallic::after, .color-picker__metallic::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #000;
  transform: scaleX(0);
  transition: transform 0.25s ease-in;
}

.color-picker__non-metallic.is-active::after, .color-picker__metallic.is-active::after {
  transform: scaleX(1);
}

.color-picker__btn {
  font-family: "Font Awesome 5 Free"; /* In order to use unicode codes */
  padding: 1.6em;
  border-radius: 100%;
  border-color: #fff; /* Color to be changed with JS */
  background-color: grey;
  box-shadow: 0 1px 10px -2px #999, inset 0 0 0 2px white;
  position: relative;
}

.color-picker__btn:hover, .color-picker__btn:focus {
  border-color: #fff;
  color: #fff;
  background-color: grey;
  box-shadow: 0 1px 10px 1px #999, inset 0 0 0 7px white;
  transition: all 0.25s ease-in;
}

/* Add a tick symbol in the button that is active */
.color-picker__btn::after {
  font-size: 0;
  position: absolute;
  content: "\f00c";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: font-size 0.25s ease-in;
}

.color-picker__btn.is-active::after {
  font-size: 1.6em;
}

.color-picker__list__item {
  display: inline-block;
}

.color-picker__list__item + .color-picker__list__item {
  margin-left: 1.2em; /* 0.6em + 0.6em */
}

.color-picker__description {
  margin: 0;
  padding: 1em 0;
}

/* Vehicle details interior trim container styles */
.interior-trim__top-image {
  min-height: 345px;
  background: url('../images/vehicle_interior.jpg');
  background-size: cover;
  background-position: 50% 25%;
  margin-bottom: 0.6em;
}

.interior-trim__list__item + .interior-trim__list__item {
  margin-left: 1.5em;
}

.interior-trim__checkbox__container {
  cursor: pointer;
}

.interior-trim__description__heading {
  margin: 1em 0 0.5em;
}

.interior-trim__description__paragraph {
  margin: 0;
  font-size: 0.95em;
}

.interior-trim__checkbox {
  align-self: center;
}

.interior-trim__checkbox__btn {
  width: 34px;
  height: 34px;
  font-size: 1.2em;
  padding: 0.2em;
  margin-left: 0.3em;
  color: transparent;
  background-color: #fff;
  border: 1.3px solid;
  border-color: #73818d;
  border-radius: 0;
}

/* Change style when checkbox or checkbox__container is hovered|focused */
.interior-trim__checkbox__btn:hover,
.interior-trim__checkbox__btn:focus,
.interior-trim__checkbox__container:hover .interior-trim__checkbox__btn,
.interior-trim__checkbox__container:focus .interior-trim__checkbox__btn {
  color: #666;
  background-color: transparent;
}

/* Set the styles when the checkbox is checked */
.interior-trim__checkbox__container[aria-checked=true] .interior-trim__checkbox__btn {
  color: #fff;
  background-color: #a7b0b7;
  border-color: #e3e5e8;
}

@media only screen and (max-width: 1000px) {
  .vehicle-details {
    min-height: 45vh;
    padding: 2em;
  }

  .interior-trim__top-image {
    min-height: 280px;
  }
}

@media only screen and (max-width: 850px) {
  .vehicle-details__dimensions {
    flex-flow: row wrap;
  }

  .dimensions__image-container, .dimensions__table {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 740px) {
  .vehicle-details {
    min-height: 20vh;
    padding: 1em;
  }

  .interior-trim__top-image {
    min-height: 200px;
  }
}

@media only screen and (max-width: 640px) {
  .color__color-picker {
    overflow-x: auto;
    justify-content: initial;
  }

  .color-picker__metallic, .color-picker__non-metallic {
    white-space: nowrap;
  }

}

@media only screen and (max-width: 560px) {
  .vehicle-details__nav {
    overflow-y: auto;
  }

  .vehicle-details__nav__item {
    min-width: 180px;
  }

  .interior-trim__list {
    overflow-x: auto;
  }

  .interior-trim__list__item {
    min-width: 270px;
  }
}
