/**
 * Vehicle details styles
 */
.vehicle-details {
  background-color: #fff;
  padding: 3em 9em;
}

.vehicle-details__nav {
  width: 100%;
  margin-bottom: 2em;
}

.vehicle-details__nav__item {
  display: block;
  width: 25%;
}

.vehicle-details__nav__btn {
  font-weight: 550;
  padding: 0.5em 0;
  width: 100%;
  border-radius: 0;
}

.vehicle-details__nav__btn.is-active {
  color: #fff;
  background-color: #013a65;
  border-color: #013a65;
}

/* Add radius to side buttons */
.vehicle-details__nav__item:first-child .vehicle-details__nav__btn{
  border-radius: 4px 0 0 4px;
}

.vehicle-details__nav__item:last-child .vehicle-details__nav__btn{
  border-radius: 0 4px 4px 0;
}

/* Vehicle details dimensions container styles */
.vehicle-details__dimensions {
  margin-bottom: 2em;
}

.dimensions__image-container {
  padding-top: 1em;
}

/* Set the dimensions table and image to 50% each */
.dimensions__table, .dimensions__image-container {
  width: 50%;
}

.dimensions__table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-right: 2em;
}

.dimensions__table td, .dimensions__table th {
  padding: 1em;
}

.dimensions__table__heading, .dimensions__table__short, .dimensions__table__long {
  border: 1px solid #999;
}

.dimensions__table__heading {
  font-weight: 550;
  background-color: #e0e0e0;
  border-right-color: transparent;
}

.dimensions__table__short {
  border-left-color: transparent;
}

/* Vehicle details layout container styles */
.layout__paragraph {
  margin-top: 0; /* Remove top padding because of the image space */
}

.layout__image {
  /* Layout image must have normal size and max-width in order to be responsive */
  width: auto;
  max-width: 100%;
}

/* Vehicle details color container styles */
.color__image-container {
  max-width: 920px;
  margin: 0 auto; /* Center the container */
}

.color-picker__non-metallic, .color-picker__metallic {
  font-weight: 600;
  font-size: 0.9em;
  margin: 0 0.6em;
  position: relative;
}

/* Set description color to lightgrey if it is not active */
.color-picker__non-metallic:not(.is-active), .color-picker__metallic:not(.is-active) {
  color: #aaa;
}

/* Create a bottom border, add transition to make nice animation when changing color */
.color-picker__non-metallic::after, .color-picker__metallic::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #000;
  transform: scaleX(0);
  transition: transform 0.25s ease-in;
}

.color-picker__non-metallic.is-active::after, .color-picker__metallic.is-active::after {
  transform: scaleX(1);
}

.color-picker__btn {
  font-family: "Font Awesome 5 Free"; /* In order to use unicode codes */
  padding: 1.6em;
  border-radius: 100%;
  border-color: #fff; /* Color to be changed with JS */
  background-color: grey;
  box-shadow: 0 1px 10px -2px #999, inset 0 0 0 2px white;
  position: relative;
}

.color-picker__btn:hover, .color-picker__btn:focus {
  border-color: #fff;
  color: #fff;
  background-color: grey;
  box-shadow: 0 1px 10px 1px #999, inset 0 0 0 7px white;
  transition: all 0.25s ease-in;
}

/* Add a tick symbol in the button that is active */
.color-picker__btn::after {
  font-size: 0;
  position: absolute;
  content: "\f00c";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: font-size 0.25s ease-in;
}

.color-picker__btn.is-active::after {
  font-size: 1.6em;
}

.color-picker__list__item {
  display: inline-block;
}

.color-picker__list__item + .color-picker__list__item {
  margin-left: 1.2em; /* 0.6em + 0.6em */
}

.color-picker__description {
  margin: 0;
  padding: 1em 0;
}
