/**
 * Vehicle details styles
 */
.vehicle-details {
  background-color: #fff;
  padding: 3em 9em;
}

.vehicle-details__nav {
  width: 100%;
  margin-bottom: 2em;
}

.vehicle-details__nav__item {
  display: block;
  width: 25%;
}

.vehicle-details__nav__btn {
  font-weight: 550;
  padding: 0.5em 0;
  width: 100%;
  border-radius: 0;
}

.vehicle-details__nav__btn.is-active {
  color: #fff;
  background-color: #013a65;
  border-color: #013a65;
}

/* Add radius to side buttons */
.vehicle-details__nav__item:first-child .vehicle-details__nav__btn{
  border-radius: 4px 0 0 4px;
}

.vehicle-details__nav__item:last-child .vehicle-details__nav__btn{
  border-radius: 0 4px 4px 0;
}

/* Vehicle details dimensions container styles */
.vehicle-details__dimensions {
  margin-bottom: 2em;
}

.dimensions__image-container {
  padding-top: 1em;
}

/* Set the dimensions table and image to 50% each */
.dimensions__table, .dimensions__image-container {
  width: 50%;
}

.dimensions__table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-right: 2em;
}

.dimensions__table td, .dimensions__table th {
  padding: 1em;
}

.dimensions__table__heading, .dimensions__table__short, .dimensions__table__long {
  border: 1px solid #999;
}

.dimensions__table__heading {
  font-weight: 550;
  background-color: #e0e0e0;
  border-right-color: transparent;
}

.dimensions__table__short {
  border-left-color: transparent;
}

/* Vehicle details layout container styles */
.layout__paragraph {
  margin-top: 0; /* Remove top padding because of the image space */
}

.layout__image {
  /* Layout image must have normal size and max-width in order to be responsive */
  width: auto;
  max-width: 100%;
}
